In [42]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27} 
age=Employee_data.values();

print(max(age))

45

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [43]:
# Type your code here
print(Employee_data.get(159,'NA'))

NA

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [44]:
# Type your code here
# Employee_data.keys().count()
print(len(Employee_data))

74

In [45]:
#print(Employee_data)

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [46]:
# Type your code here
agi =Employee_data.values();
a = sum(agi)
print(sum(agi))

sum_1=(a/len(Employee_data))
print(sum_1)

2321
31.364864864864863

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [47]:
# Type your code here
#Employee_data[104,140,179]= 27
#Employee_data.update({104: 30, 140: 26, 179: 27})
Employee_data.update( [(104, 27),(140, 27),(179, 27)] )
Employee_data.pop(143)
print(Employee_data)

{101: 43, 102: 25, 103: 43, 104: 27, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 27, 141: 29, 142: 33, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [48]:
# Type your code here
agie =Employee_data.values();
a2 = sum(agie)
print(sum(agie))

sum_12=(a2/len(Employee_data))
print(sum_12)

2266
31.041095890410958