# Control Structures

### Question 


A word is said to belong to the red team if it has the letter r in it.
Write an 'if' statement to check whether the given word belongs to the red team or not.

In [ ]:
# write code here

Enter a word in small caps real
The word belongs to red team

### Question 

In continuation to previous example, if the word has the letter 'b', it belongs to the blue team. And if the word has both 'r' and 'b' then first letter gets a precedence. And if the word does not have the letter 'r' or 'b', it does not belong to any team. 
######Example: (word,output)                
*   rabbit = red team
*   brand =  blue team
*   dog   =  no team


Write a condition for this decision.

In [ ]:
# write code here 

# you might want to consider if statement inside a for loop

Enter a word in small caps break
The word belongs to blue team

### Question 

Write a program to print all the numbers which are divisible by 17 between 1 and a given number 'n'.

Enter the upper limit 100
17
34
51
68
85

### Question

Write a program to add 13 to all the elements of a given numeric list. 
######Example - 
* Input list = [1,5,27] 
* Output list = [14,18,40]

In [ ]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# Write solution code here

sol_list = []
for i in sample_list:
    sol_list.append(i+13)
    
print (sol_list)

### Question

In continuation to the example above, execute the same operation on the same sample list using list comprihension.

In [ ]:
listyy =  i+13 for i in sample_list

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

### Question 
This question has two tasks:
* Task 1 - Find the factors of all the numbers in a given list. 
* Task 2 - Add the numbers and their factors to a dictionary where the key will be the numbers from the list, and the values will be the factors of the respective number. 

Example - 
##### Sample output :
#####{6: [1, 2, 3, 6],
98: [1, 2, 7, 14, 49, 98],
##### 34: [1, 2, 17, 34],}

In [ ]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]
sol={}

# write code here 
for k in sample_list:
    value=[]
    for i in range(1,k+1):
        if (k%i)==0:
            value.append(i)
    
    sol[k]=value;
sol

### Question 

Count the total number of unique characters in a given sentence. 
#####Example - 
* Input - 'total'
* Output  - 'o', 'a', 'l'

In [ ]:
sample_sentence = "Pack my box with five dozen liquor jugs"
 
# write code here 
for i in sample_sentence:
    j={}
    j.append(set(i))
print(j)

### Question 

Write a calculator application using functions, which will ask for the users input such as - arithmetic operation, number1, number 2, and return the output post applying the arithmetic operator

#####Example - 


```
def calc(operation, x,y):
    if operation == "add":
        return x+y
```

In [ ]:
# use functions to write this code

### Question 

Write a code to ask the user to input three numbers and then print the largest one among the three.

In [7]:
# You might want to use nested if statements 
largest=(input("Enter three numbers :"))
list_num=largest.split()
a=list_num[0]
b=list_num[1]
c=list_num[2]
if a>b and a>c :
    print(a)
elif b>c:
    print(b)
else:
    print(c)

Enter three numbers :23 45 56
56

### Question

Check whether a number is perfect or not. 

A perfect number is a number that is sum of all of its positive divisors (excluding itself).
For more info refer to this link - https://www.geeksforgeeks.org/perfect-number/

In [10]:
number=int(input("Enter the number you want to check: "))
temp=0
for n in range(1,number):
    if number%n==0:
        temp=temp+n;
if temp==number:
    print("The number is a perfect number")
else:
    print("The number is not a perfect number")

Enter the number you want to check: 28
The number is a perfect number

### Question 

Add the elements in the two given lists using map and lambda functions

In [3]:
list1 = [5, 8, 9, 12]
list2 = [10, 12, 8, 6]
list3=[]

list3=list(map(lambda x,y: x+y,list1,list2 ))
print(list3)

[15, 20, 17, 18]

### Question 

Write a code to find the factorial of a number using reduce function. 
#####Example -
 5!= 5 * 4 * 3 * 2 * 1=120.

In [10]:
from functools import reduce
number=int(input("Enter a natural number "))
number_list = range(1,number+1)
print(reduce(lambda x,y: x*y,number_list))

Enter a natural number 5
120

In [11]:
class A:
    def __init__(self, x=1):
        self.x = x
class B(A):
    def __init__(self,y =2):
        super().__init__()
        self.y = y

def main():
    b = B()
    print(b.x,b.y)
main()

1 2